In [1]:
import pandas as pd

In [2]:
# load dataset of development & economic indicators
econ = pd.read_csv('../data/AQUASTAT/development.csv', names=['country', 'country_id', 'var_name', 'var_id', 'year', 'value'], 
                  usecols=range(6), header=0, nrows=17709)

In [3]:
# load dataset of drinking water access
access = pd.read_csv('../data/AQUASTAT/drinking_water_access.csv', names=['country', 'country_id', 'var_name', 'var_id', 'year', 'value'], 
                  usecols=range(6), header=0, nrows=3339)

In [4]:
# load dataset of exploitable water resources
exploit = pd.read_csv('../data/AQUASTAT/exploitable_water_resources.csv', names=['country', 'country_id', 'var_name', 'var_id', 'year', 'value'], 
                  usecols=range(6), skiprows=3, nrows=4703)

In [5]:
# load dataset of pressure on water resouces
pressure = pd.read_csv('../data/AQUASTAT/pressure.csv', names=['country', 'country_id', 'var_name', 'var_id', 'year', 'value'], 
                  usecols=range(6), skiprows=3, nrows=1243)

In [6]:
# load dataset of renewable water resources
renew = pd.read_csv('../data/AQUASTAT/renewable_water_resources.csv', names=['country', 'country_id', 'var_name', 'var_id', 'year', 'value'], 
                  usecols=range(6), skiprows=3, nrows=11813)

In [7]:
# load dataset of wastewater
waste = pd.read_csv('../data/AQUASTAT/wastewater.csv', names=['country', 'country_id', 'var_name', 'var_id', 'year', 'value'], 
                  usecols=range(6), skiprows=3, nrows=1427)

In [8]:
# load dataset of water withdrawal by sector
withdrawal = pd.read_csv('../data/AQUASTAT/withdrawal.csv', names=['country', 'country_id', 'var_name', 'var_id', 'year', 'value'], 
                  usecols=range(6), skiprows=3, nrows=6213)

In [9]:
# load dataset of water in and out flows
flows = pd.read_csv('../data/AQUASTAT/in_out_flows.csv', names=['country', 'country_id', 'var_name', 'var_id', 'year', 'value'], 
                   usecols=range(6), skiprows=3, nrows=728)

In [10]:
#####
# which countries have the largest and smallest renewable water resources? and dependency ratio? renewable water per capita?
# year: 2014
#####

In [11]:
# pivot
renew = renew.loc[renew.year==2014,].pivot(index='country', columns='var_name', values='value')

In [12]:
# drop unneeded columns
renew = renew.iloc[:,[0,4,5]]

In [13]:
renew.columns = ['dependency', 'tot_renew', 'renew_pc']

In [14]:
# bottom 10 in renewable water resources per capita
renew.sort_values('renew_pc').head(15)

                                dependency  tot_renew  renew_pc
country
Kuwait                             100.000     0.0200     5.139
United Arab Emirates                 0.000     0.1500    16.380
Qatar                                3.448     0.0580    25.950
Saudi Arabia                         0.000     2.4000    76.090
Yemen                                0.000     2.1000    78.260
Maldives                             0.000     0.0300    82.490
Bahrain                             96.550     0.1160    84.240
Singapore                            0.000     0.6000   107.100
Libya                                0.000     0.7000   111.500
Malta                                0.000     0.0505   120.600
Jordan                              27.210     0.9370   123.400
Occupied Palestinian Territory       2.987     0.8370   179.300
Israel                              57.870     1.7800   220.700
Barbados                             0.000     0.0800   281.500
Algeria                              3.599    11.6700   294.200

In [15]:
renew.sort_values('renew_pc').head(15).to_csv('../data/clean/renew_pc_bot15.csv')

In [16]:
# top 10 in renewable water resources per capita
renew.sort_values('renew_pc', ascending=False).head(15)

                                  dependency  tot_renew  renew_pc
country
Iceland                                0.000     170.00  516090.0
Guyana                                11.070     271.00  353279.0
Suriname                               0.000      99.00  182320.0
Congo                                 73.320     832.00  180087.0
Papua New Guinea                       0.000     801.00  105132.0
Bhutan                                 0.000      78.00  100671.0
Gabon                                  1.205     166.00   96232.0
Canada                                 1.792    2902.00   80746.0
Solomon Islands                        0.000      44.70   76594.0
Norway                                 2.799     393.00   75417.0
New Zealand                            0.000     327.00   72201.0
Belize                                29.790      21.73   60479.0
Peru                                  12.700    1880.00   59916.0
Paraguay                              69.830     387.80   58412.0
Bolivia (Plurinational State of)      47.130     574.00   53520.0

In [17]:
renew.sort_values('renew_pc', ascending=False).head(15).to_csv('../data/clean/renew_pc_top15.csv')

In [18]:
# save total renewable water resouces per capita for all countries
renew.loc[:,['renew_pc']].to_csv('../data/clean/renew_all.csv')

In [19]:
# dependency ratio (sorted, lower is better)
# Indicator expressing the percent of total renewable water resources originating outside the country. 
renew.sort_values('dependency', ascending=False).head(10)

              dependency  tot_renew   renew_pc
country
Kuwait            100.00      0.020      5.139
Turkmenistan       97.00     24.770   4609.000
Egypt              96.91     58.300    637.100
Bahrain            96.55      0.116     84.240
Mauritania         96.49     11.400   2802.000
Sudan              96.13     37.800    939.500
Hungary            94.23    104.000  10553.000
Bangladesh         91.44   1227.000   7621.000
Niger              89.72     34.050   1711.000
Netherlands        87.91     91.000   5377.000

In [20]:
#####
# least populations near water & how it has changed over time
#####

In [21]:
# bottom 10 in access to drinking water
access.loc[access.year==2012,].loc[access.var_id==4114,].sort_values('value').head(10)

,country,country_id,var_name,var_id,year,value
2289,Papua New Guinea,168,Total population with access to safe drinking-...,4114,2012,39.9
957,Equatorial Guinea,61,Total population with access to safe drinking-...,4114,2012,47.7
74,Angola,7,Total population with access to safe drinking-...,4114,2012,47.8
1738,Madagascar,129,Total population with access to safe drinking-...,4114,2012,48.7
1993,Mozambique,144,Total population with access to safe drinking-...,4114,2012,50.1
575,Chad,39,Total population with access to safe drinking-...,4114,2012,50.7
820,Democratic Republic of the Congo,250,Total population with access to safe drinking-...,4114,2012,51.4
1005,Ethiopia,238,Total population with access to safe drinking-...,4114,2012,51.6
4,Afghanistan,2,Total population with access to safe drinking-...,4114,2012,51.6
3292,Yemen,249,Total population with access to safe drinking-...,4114,2012,54.9

In [22]:
# worldwide mean and median of access to drinking water
access.loc[access.year==2012,].loc[access.var_id==4114,].groupby('year').mean()

      country_id  var_id      value
year
2012  130.820106  4114.0  87.992593

In [23]:
access.loc[access.year==2012,].loc[access.var_id==4114,].groupby('year').median()

      country_id  var_id  value
year
2012         130    4114   95.1

In [24]:
# subsete to total population
access_del = access.loc[access.var_id==4114]

In [25]:
# create pivot table
access_del = access_del.pivot(index='country', columns='year', values='value')

In [26]:
# divide percentages by 100
access_del = access_del/100

In [27]:
access_del['change'] = access_del.loc[:,2015] - access_del.loc[:,1992]

In [28]:
# bottom 10 in change between 1992 and 2014
access_del_bot = access_del.sort_values('change').head(10)

In [29]:
access_del_bot.dropna(axis=1).iloc[:5,:-1].transpose()

country,Occupied Palestinian Territory,Algeria,Haiti,Zimbabwe,Dominican Republic
year,,,,,
1992,0.958,0.917,0.628,0.796,0.871
1997,0.960,0.905,0.617,0.795,0.870
2002,0.867,0.888,0.608,0.794,0.867
2007,0.760,0.870,0.602,0.784,0.863
2012,0.651,0.849,0.585,0.775,0.854
2015,0.584,0.836,0.577,0.769,0.847

In [30]:
access_del_bot.dropna(axis=1).iloc[:5,:-1].transpose().to_csv('../data/clean/access_yrly_bot5.csv')

In [31]:
access_del_bot_ch = access_del_bot[[1992, 2015, 'change']]

In [32]:
access_del_bot_ch

year                                    1992   2015  change
country
Occupied Palestinian Territory         0.958  0.584  -0.374
Algeria                                0.917  0.836  -0.081
Haiti                                  0.628  0.577  -0.051
Zimbabwe                               0.796  0.769  -0.027
Dominican Republic                     0.871  0.847  -0.024
Micronesia (Federated States of)       0.910  0.890  -0.020
Kazakhstan                             0.941  0.929  -0.012
Niue                                   0.992  0.985  -0.007
Bulgaria                               0.999  0.994  -0.005
Democratic People's Republic of Korea  1.000  0.997  -0.003

In [33]:
access_del_bot_ch = access_del_bot[[1992, 2015, 'change']]

In [34]:
access_del_bot_ch.columns = ['first', 'last', 'change']

In [35]:
access_del_bot_ch.to_csv('../data/clean/access_del_bot10.csv')

In [36]:
# top 10 in change between 1992 and 2014
access_del_top = access_del.sort_values('change', ascending=False).head(10)

In [37]:
access_del_top

year,1992,1997,2001,2002,2006,2007,2011,2012,2014,2015,change
country,,,,,,,,,,,
Cambodia,0.235,0.348,NaN,0.461,NaN,0.574,NaN,0.688,NaN,0.755,0.520
Mali,0.310,0.406,NaN,0.506,NaN,0.608,NaN,0.709,NaN,0.770,0.460
Malawi,0.466,0.568,NaN,0.662,NaN,0.755,NaN,0.847,NaN,0.902,0.436
Paraguay,0.574,0.676,NaN,0.771,NaN,0.854,NaN,0.934,NaN,0.980,0.406
Guinea-Bissau,0.391,0.471,NaN,0.555,NaN,0.643,NaN,0.736,NaN,0.793,0.402
Burkina Faso,0.454,0.543,NaN,0.636,NaN,0.728,NaN,0.817,NaN,0.823,0.369
Uganda,0.436,0.516,NaN,0.596,NaN,0.677,NaN,0.758,NaN,0.790,0.354
Swaziland,0.389,0.465,NaN,0.556,NaN,0.648,NaN,0.742,NaN,0.741,0.352
Afghanistan,0.213,0.250,NaN,0.338,NaN,0.426,NaN,0.516,NaN,0.553,0.340
Viet Nam,0.657,0.731,NaN,0.803,NaN,0.873,NaN,0.938,NaN,0.976,0.319

In [38]:
access_del_top.to_csv('../data/clean/access_del_top10.csv')

In [39]:
# bottom 10 in water access
access_bot = access.loc[access.var_id==4114,]

In [40]:
# grab lat east year data
access_bot = access_bot.groupby('country').agg({'year':'max', 'value':'last'})

In [41]:
access_bot = access_bot[['value']]

In [42]:
access_bot.columns = ['drinking_access']

In [43]:
access_bot = access_bot.sort_values('drinking_access', ascending=True).head(20)

In [44]:
access_bot.to_csv('../data/clean/drinking_access_bot20.csv')

In [45]:
access_all = access.loc[access['var_id']==4114,].loc[access['year']==2015,]

In [46]:
access_all = access_all.pivot(index='country', columns='var_id', values='value')

In [47]:
access_all.columns = ['drinking_access']

In [113]:
access_all = access_all / 100

In [114]:
access_all.to_csv('../data/clean/drinking_access_all.csv')

In [49]:
#####
# countries with water resources under most stress
#####

In [50]:
# annual freshwater withdrawal as % of total renewable water resources in most-recent year 
fresh_presh = pressure.loc[pressure.var_id==4275,]

In [51]:
# find latest year for each country
fresh_presh = fresh_presh.groupby('country').agg({'year':'max', 'value':'last'})

In [52]:
# remove values before 2000
fresh_presh = fresh_presh.loc[fresh_presh.year>2000,]

In [53]:
fresh_presh.columns = ['year', 'tfwtrwr']

In [54]:
#####
# countries with most exploitable water resources
#####

In [55]:
# how are dam capacity and water stress correlated with GDP per capita and HDI?

In [56]:
exploit_access = exploit.loc[exploit.var_id==4197,].loc[exploit.year==2015,]

In [57]:
exploit_access = exploit_access.pivot(index='country', columns='var_name', values='value')

In [58]:
access_hdi = access.loc[access.var_id==4114,].loc[access.year==2015,]

In [59]:
access_hdi = access_hdi.pivot(index='country', columns='var_name', values='value')

In [60]:
exploit_access.columns = ['dam_capacity']

In [61]:
access_hdi.columns = ['water_access']

In [62]:
access_hdi = access_hdi / 100

In [63]:
exploit_access = exploit_access.join(access_hdi, how='inner')

In [64]:
exploit_access = exploit_access.join(econ, how='inner')

In [65]:
exploit_access.to_csv('../data/clean/dam_capacity_drinking_access.csv')

In [66]:
#####
# correlations with GDP & HDI
#####

In [67]:
# subset to GDP per capita, total population, HDI
econ = econ.loc[econ.var_id.isin([4458,4104,4111]),]

In [68]:
# most recent years
econ = econ.groupby(['country', 'var_name']).agg({'year':'max', 'value':'last'})

In [69]:
# reset index and pivot data
econ = econ.reset_index()

In [70]:
econ = econ.pivot(index='country', columns='var_name', values='value')

In [71]:
econ.columns = ['gdp_pc', 'hdi', 'population']

In [72]:
# join with freshwater stress
water_econ_corr = econ.join(fresh_presh.tfwtrwr, how='right')

In [73]:
water_econ_corr.to_csv('../data/clean/water_econ_corr.csv')

In [74]:
# access and HDI

In [75]:
access_hdi = access_hdi.join(econ, how='inner')

In [76]:
access_hdi.to_csv('../data/clean/drinking_access_econ.csv')

In [77]:
#####
# withdrawal by sector & country
# compare with GDP & HDI
# desalination produced
#####

In [78]:
# subset to latest available years
withdrawal = withdrawal.groupby(['country', 'var_name']).agg({'year':'max', 'value':'last'})

In [79]:
# reset index and pivot data
withdrawal = withdrawal.reset_index()

In [80]:
withdrawal = withdrawal.pivot(index='country', columns='var_name', values='value')

In [81]:
# drop unneeded columns
withdrawal = withdrawal.drop(withdrawal.columns[3:5], axis=1)

In [82]:
# rename columns
withdrawal.columns = ['agricultural', 'agricultural_pct', 'desalinated', 'industrial', 'industrial_pct', 'irrigation_req',
                     'irrigation', 'municipal', 'municipal_pct', 'total_fresh', 'total_water', 'total_water_pc']

In [83]:
# top desalination producers
withdrawal.sort_values('desalinated', ascending=False).head(10)

,agricultural,agricultural_pct,desalinated,industrial,industrial_pct,irrigation_req,irrigation,municipal,municipal_pct,total_fresh,total_water,total_water_pc
country,,,,,,,,,,,,
Saudi Arabia,20.8300,88.00,1.0330,0.7100,3.000,11.600,NaN,2.1300,8.999,22.640,23.6700,907.5
United Arab Emirates,3.3120,82.84,0.9500,0.0690,1.726,1.815,NaN,0.6170,15.430,2.800,3.9980,665.2
Kazakhstan,14.0000,66.23,0.8530,6.2630,29.630,6.448,NaN,0.8780,4.153,19.980,21.1400,1257.0
Algeria,4.9900,59.23,0.6150,0.4150,4.926,2.511,3.502,3.0200,35.850,7.810,8.4250,225.0
United States of America,175.1000,36.06,0.5800,248.4000,51.150,108.500,159.300,62.0900,12.790,418.700,485.6000,1543.0
Kuwait,0.4919,53.87,0.4202,0.0233,2.278,0.119,NaN,0.4483,43.860,0.415,0.9132,447.2
Egypt,67.0000,85.90,0.2000,2.0000,2.564,45.110,NaN,9.0000,11.540,73.800,78.0000,910.6
Iran (Islamic Republic of),86.0000,92.18,0.2000,1.1000,1.179,49.190,NaN,6.2000,6.645,93.100,93.3000,1301.0
Qatar,0.2620,59.01,0.1800,0.0080,1.802,0.076,NaN,0.1740,39.190,0.217,0.4440,376.6
Australia,10.5900,60.97,0.1440,2.7680,15.940,3.892,8.408,4.0150,23.110,16.760,17.3700,724.7

In [84]:
withdrawal.sort_values('desalinated', ascending=False).head(10).to_csv('../data/clean/desalination.csv')

In [85]:
# top total withdrawal per capita by sector, top-10 countries per cap
sector_use = withdrawal.sort_values('total_water_pc', ascending=False).head(10)

In [86]:
sector_use = sector_use.loc[:,['agricultural', 'industrial', 'municipal']]

In [87]:
sector_use

                            agricultural  industrial  municipal
country
Turkmenistan                      26.360      0.8390     0.7550
Iraq                              52.000      9.7000     4.3000
Chile                             29.420      4.7440     1.2670
Uzbekistan                        50.400      1.5000     4.1000
Guyana                             1.363      0.0204     0.0613
Tajikistan                        10.440      0.4078     0.6470
United States of America         175.100    248.4000    62.0900
Kyrgyzstan                         7.100      0.3360     0.2240
Estonia                            0.005      1.6550     0.0600
Iran (Islamic Republic of)        86.000      1.1000     6.2000

In [88]:
# mean % by sector
withdrawal.loc[:,['agricultural', 'industrial', 'municipal']].sum()

agricultural    2765.763000
industrial       758.986402
municipal        466.708300
dtype: float64

In [89]:
# freshwaster withdrawal and population

In [90]:
withdrawal_pop = withdrawal[['total_fresh']].join(econ['population'])

In [91]:
# calculate total freshwater withdrawal per capita
withdrawal_pop['total_fresh_pc'] = withdrawal_pop['total_fresh'] / withdrawal_pop['population']

In [92]:
withdrawal_pop = withdrawal_pop.sort_values('total_fresh_pc', ascending=False).head(20)

In [93]:
withdrawal_pop

                            total_fresh  population  total_fresh_pc
country
Turkmenistan                    27.8700      5374.0        0.005186
Chile                           35.3600     17948.0        0.001970
Guyana                           1.4450       767.1        0.001884
Iraq                            65.9900     36423.0        0.001812
Uzbekistan                      49.1600     29893.0        0.001645
Tajikistan                      11.1900      8482.0        0.001319
Estonia                          1.7200      1313.0        0.001310
United States of America       418.7000    321774.0        0.001301
Kyrgyzstan                       7.7070      5940.0        0.001297
Azerbaijan                      11.9700      9754.0        0.001227
Finland                          6.5620      5503.0        0.001192
Iran (Islamic Republic of)      93.1000     79109.0        0.001177
New Zealand                      5.2010      4529.0        0.001148
Suriname                         0.6159       543.0        0.001134
Kazakhstan                      19.9800     17625.0        0.001134
Armenia                          3.2720      3018.0        0.001084
Canada                          38.8000     35940.0        0.001080
Uruguay                          3.6600      3432.0        0.001066
Timor-Leste                      1.1720      1185.0        0.000989
Pakistan                       183.5000    188925.0        0.000971

In [94]:
#####
# water in and out flows by country
# calculate totals and net amount
#####

In [95]:
# pivot data
flows = flows.pivot(index='country', columns='var_name', values='value')

In [96]:
flows.columns = ['groundwater_in', 'groundwater_out', 'surfacewater_in', 'surfacewater_out']

In [97]:
# calculate totals and net

In [98]:
flows['total_in'] = flows.loc[:,['groundwater_in', 'surfacewater_in']].sum(axis=1)

In [99]:
flows['total_out'] = flows.loc[:,['groundwater_out', 'surfacewater_out']].sum(axis=1)

In [100]:
flows.head()

,groundwater_in,groundwater_out,surfacewater_in,surfacewater_out,total_in,total_out
country,,,,,,
Afghanistan,0.00,NaN,10.00,42.22,10.00,42.22
Albania,0.00,0.0,3.30,11.50,3.30,11.50
Algeria,0.03,0.1,0.39,0.32,0.42,0.42
Angola,0.00,0.0,0.40,122.80,0.40,122.80
Antigua and Barbuda,0.00,0.0,0.00,0.00,0.00,0.00

In [101]:
flows.to_csv('../data/clean/flows.csv')

In [103]:
#####

In [111]:
renew[['renew_pc']].median()

renew_pc    3892.5
dtype: float64